body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #6a0dad);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    animation: fadeInOut 5s infinite, slideIn 5s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(0);
    }
}